
nav.navbar.navbar-light.bg-faded
    a.navbar-brand Battle Sheep

    ul.nav.navbar-nav
        li.nav-item: a.nav-link Lobby
        li.nav-item: a.nav-link Game

    .float-xs-right
        ul.nav.navbar-nav
            li.nav-item.dropdown(uib-dropdown)
                a.nav-link.dropdown-toggle(uib-dropdown-toggle, href="#")
                    i.fa.fa-user.fa-margin-right
                    span(ng-bind="vm.player.name")
                div.dropdown-menu(uib-dropdown-menu)
                    a.dropdown-item(ng-click="vm.changeName()") Change name
                    a.dropdown-item(ng-click="vm.settings()") Settings


.row
    .col-md-9
        div Lobby chat
        ul#messages
            li.message(ng-repeat="message in vm.messages", messages-repeat)
                span.author(ng-bind="message.player.name")
                span.message(ng-bind="message.message")

    .col-md-3
        div(ng-bind-template="{{ vm.players.length }} player(s)")
        ul#playerlist
            li.player(ng-repeat="player in vm.players", ng-bind="player.name", ng-class="{'me': player.id == vm.player.id}")

form#input(ng-submit="vm.send()", autocomplete="off")
    input(name="message", ng-model="vm.message", placeholder="Enter chat message...", autofocus)
